numpy==1.20.2
pandas==1.2.3
streamlit==0.79.0
pystan==2.19.1.1
wordcloud==1.8.1
tweepy==3.10.0
nltk==3.5
plotly==4.14.3
holidays==0.24
fbprophet==0.7.1
pandas_datareader==0.10.0
cvxopt==1.2.6
newspaper3k==0.2.8
seaborn==0.11.1
matplotlib==3.4.1
requests==2.24.0
GoogleNews==1.6.6
vaderSentiment==3.3.2
pyportfolioopt==1.4.1
yfinance==0.1.63 
pandas-ta==0.3.14b0
